<div class="container">
  <nav aria-label="Основная навигация">
    <ul class="nav-list">
      <li><a class="nav-link" href="#page-1">Страница 1</a></li>
      <li><a class="nav-link" href="#page-2">Страница 2</a></li>
      <li><a class="nav-link" href="#page-3">Страница 3</a></li>
      <li><a class="nav-link" href="#page-4">Страница 4</a></li>
      <li><a class="nav-link" href="#page-5">Страница 5</a></li>
      <li><a class="nav-link" href="#page-6">Страница 6</a></li>
      <li><a class="nav-link" href="#page-7">Страница 7</a></li>
    </ul>
  </nav>
</div>
