<section class="home" aria-labelledby="home-title">
    <div class="home__hero">
        <div class="home__content">
            <div class="home__main">
                <div class="home__category">
                    <span class="home__category-icon" aria-hidden="true">
                        <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 13C10.7954 13 11.5582 12.6841 12.1208 12.1216C12.6834 11.5592 12.9996 10.7963 13 10.0008C13 9.2049 12.6839 8.44165 12.1213 7.8789C11.5587 7.31615 10.7956 7 10 7C9.20435 7 8.44129 7.31615 7.87868 7.8789C7.31607 8.44165 7 9.2049 7 10.0008C7.0004 10.7963 7.31664 11.5592 7.87921 12.1216C8.44178 12.6841 9.20461 13 10 13Z" fill="none" stroke="#324C88" stroke-width="2" stroke-linecap="square"/>
                            <path d="M19 9.99979C19 17.5001 11.5 22 10 22C8.5 22 1 17.5001 1 9.99979C1.00159 7.61234 1.9505 5.32323 3.63816 3.63561C5.32581 1.948 7.61409 0.999999 10 1C14.9695 1 19 5.03009 19 9.99979Z" fill="none" stroke="#324C88" stroke-width="2" stroke-linecap="square"/>
                        </svg>
                    </span>
                    <span class="home__category-text">Быстровозводимые здания из&nbsp;легких металлоконструкций</span>
                </div>

                <div class="home__heading">
                    <h1 class="home__title" id="home-title">
                        Вы&nbsp;проектируете онлайн. Мы&nbsp;изготавливаем под&nbsp;заказ
                    </h1>
                    <p class="home__subtitle">
                        Поставка зданий на&nbsp;рынки Евразии, Ближнего Востока, Африки и&nbsp;Латинской Америки
                    </p>
                </div>

                <div class="home__actions" aria-label="Расчёт стоимости">
                    <button class="home__button main-btn" type="button">Онлайн расчет</button>
                    <button class="home__button tertiary-btn" type="button">Запросить расчет</button>
                </div>
            </div>

            <div class="home__slider" aria-hidden="true">
                <span class="home__arrow home__arrow--prev">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.687 27.148L18.5203 19.998L25.687 12.848L23.3203 10.4813L13.8203 19.998L23.3203 29.5147L25.687 27.148Z" fill="white"/>
                    </svg>
                </span>

                <div class="home__pagination">
                    <span class="home__dot home__dot--active"></span>
                    <span class="home__dot"></span>
                    <span class="home__dot"></span>
                    <span class="home__dot"></span>
                </div>

                <span class="home__arrow home__arrow--next">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.313 12.852L21.4797 20.002L14.313 27.152L16.6797 29.5187L26.1797 20.002L16.6797 10.4854L14.313 12.852Z" fill="white"/>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
